<config>
        <!-- Give full paths of MIPS archive location and lockfiles  -->
	<archive>
                <location></location>
                <inlock></inlock>
                <outlock></outlock>
        </archive>
        <!-- Give full path of local code repository  -->
	<code></code>
	<!-- Full path to 70mer file -->
	<designfile>
        <!-- Fill in valid email addresses, notify is only used if succesful -->
	<email>
        	<from></from>
        	<admin></admin>
        	<notify></notify>
	</email>	
	<!-- Full path of new MIPS runs (e.g. /home/<USER>/Run_Data-->
	<incoming></incoming>
	<!-- Full path to SNPpanel VCF file -->
	<snpfile></snpfile>
</config>
