<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <!-- <filter class="ch.qos.logback.classic.filter.LevelFilter">
             <level>DEBUG</level>
             <onMatch>ACCEPT</onMatch>
             <onMismatch>DENY</onMismatch>
         </filter>-->

        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>${LOG_LOCATION}</file>
        <append>true</append>



        <encoder>
            <pattern>%date [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!--  <appender name="EMAIL" class="ch.qos.logback.classic.net.SMTPAppender">
          <smtpHost>smtp.umcn.nl</smtpHost>
          <username>corona</username>
          <password>corona</password>

          <to>${LOG_TO_ADDRESSES}</to>
          <from>bioinformaticadiagnostiek.gen@radboudumc.nl</from>
          <subject>%date %-5level %logger{35} - %message%n</subject>

          <layout class="ch.qos.logback.classic.html.HTMLLayout"/>

          <cyclicBufferTracker class="ch.qos.logback.core.spi.CyclicBufferTrackerImpl">
              &lt;!&ndash; captures x log entries before error &ndash;&gt;
              <bufferSize>10</bufferSize>
          </cyclicBufferTracker>
      </appender>-->


    <logger name="org" level="ERROR" />
    <logger name="com" level="ERROR" />
    <logger name="net" level="ERROR" />
    
    <!--<logger name="org.umcn.gen" level="ERROR" />-->
    <logger name="org.umcn.gen" level="INFO" />
    
    <root level="ERROR">
	<appender-ref ref="CONSOLE" />
	<appender-ref ref="FILE" />
    </root>
    <root level="INFO">
        <appender-ref ref="CONSOLE" />
        <appender-ref ref="FILE" />
<!--
        <appender-ref ref="EMAIL" />
-->
    </root>
</configuration>
